@use "../variables/colors";
@use "../variables/breakpoints";

.cart-table {
    border: 1px solid colors.$light-gray;
    border-radius: 15px;
    margin: 0 auto;
    overflow: auto;
    width: breakpoints.$sm;
    border-spacing: 0;

    th {
        text-align: left;
        padding: 15px;
        width: fit-content;
        white-space: nowrap;
        border-bottom: 1px solid colors.$light-gray;
    }

    td {
        padding: 10px 15px;
        font-weight: 600;

        &:first-child {
            color: colors.$mid-gray;
            display: flex;
            align-items: center;
        }
    }

    tfoot td {
        border-top: 1px solid colors.$light-gray;
    }

    .text-center {
        text-align: center;
    }

    .empty-row {
        text-align: center;
        font-weight: normal;

        a {
            margin-left: 10px;
        }
    }

    .remove-product-btn {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 18px;
        flex: 0 0 30px;
        overflow: hidden;
        padding: 0;
        transition: all ease 0.1s;
        text-align: left;
        display: flex;
        justify-content: center;

        &:hover {
            color: colors.$red;
        }
    }
}
