@use "../variables/colors";
@use "../variables/breakpoints";

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 30px;
    width: 100%;

    @media only screen and (max-width: breakpoints.$md) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 10px;
    }

    @media only screen and (max-width: breakpoints.$sm) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media only screen and (max-width: breakpoints.$xs) {
        grid-template-columns: 1fr;
    }
}

.product-card {
    border: 2px dotted transparent;
    border-radius: 15px;
    padding: 20px;
    position: relative;
}

.product-card:hover {
    border-color: colors.$light-gray;

    .product-img-wrapper img {
        height: 105%;
    }

    .add-to-cart-btn {
        top: 60%;
        opacity: 1;
        pointer-events: all;
    }
}

.product-card h3 {
    color: colors.$mid-gray;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    height: 38px;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
    margin-bottom: 0;
}

.product-card h4 {
    font-size: 14px;
    text-align: center;
    color: colors.$dark-gray;
    margin-top: 5px;
}

.add-to-cart-btn {
    color: colors.$white;
    background: colors.$orange;
    border: none;
    padding: 6px 10px;
    font-weight: 600;
    border-radius: 2px;
    cursor: pointer;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.4);
    transition: all ease-out 0.3s, background ease-out 0.1s,
        padding linear 0.05s;
    display: flex;
    justify-content: center;

    > svg {
        margin-right: 10px;
    }

    &:hover {
        padding: 8px 12px;
    }

    &:active {
        padding: 6px 10px;
    }

    @media only screen and (max-width: breakpoints.$sm) {
        top: 60%;
        opacity: 1;
        pointer-events: all;
    }
}

.product-img-wrapper {
    overflow: hidden;
    height: 200px;
    position: relative;
}

.product-img-wrapper img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    display: block;
    margin: 0 auto;
    transition: height ease-out 0.3s;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.4;
    }
}

.product-card-skeleton {
    background: colors.$light-gray;
    border-radius: 15px;
    height: 338px;
    animation-name: pulse;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
