@use "./variables/colors";

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px;
}

.main-header {
    margin-bottom: 40px;
    position: sticky;
    top: 0;
    z-index: 10;
    background: colors.$white;
}

@mixin flex-all {
    display: flex;

    > * {
        flex: 1;
    }
}

.flex-all {
    @include flex-all;
}

.flex-all-col {
    @include flex-all;
    flex-direction: column;
}

.flex {
    display: flex;
}
