@use "./variables/colors";
@use "./typography";
@use "./layouts";

// Pages
@use "./pages/Products";

// Components
@use "./components/CartDropdown";

// Global

.brand {
    font-size: 20px;
    color: colors.$dark-gray;
    cursor: pointer;
}
